.common {
	font-size: 12px;
	font-weight: normal;
	font-family:arial;
	color: #484848;
}
.common a{color: #484848;;text-decoration:none;}
.common a:hover{color: #484848;text-decoration:underline;}

a.common{color:#008bc9 !important;font-size:12px;font-weight:bold;}
a.common:hover{color:#ff6e00 !important;font-size:12px;font-weight:bold;}

.common a{color:#008bc9 !important;font-size:12px;font-weight:bold;}
.common a:hover{color:#ff6e00 !important;font-size:12px;font-weight:bold;}
