<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>#title#</title>
<meta name="description" content="#advdescr#" />
<meta name="keywords" content="#advkeyw#" />
<link type="text/css" rel="stylesheet" href="^ptt^css/style.css"/>

<script type="text/javascript" src="^ptt^js/jquery-1.8.2.js"></script>

<link rel="icon" href="^ptt^favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="^ptt^favicon.ico" type="image/x-icon">
<script language="JavaScript">
	var ptt='^ptt^';
</script>
</head>
<body>
  <?=c12('1')?>
</body>
</html>