
body {
  background: url(../img/bg.png);
}
#loginForm {
	width: 290px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -112px 0 0 -145px;
  background: #fff;
  border: 1px solid #dedee1;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	font: 14px/18px Arial, Tahoma, sans-serif;
	color: #444;
}
.topform {height: 25px;
width: 270px;
font-weight: bold;
color: #dedee1;
  border-bottom: 1px solid #dedee1;
  padding: 10px 0 0 20px ;
}
.field,.submit,.error {
	margin:20px;
}
.field input {outline: none;}
.field label {color: #777;}
.field label p{font-size: 10px; position: absolute;}
.error {color: red;}
.field input{
	width: 240px;
	height: 25px;
	padding: 5px;
  border: 1px solid #dedee1;
	border-radius: 4px;
}
.submit input{
	width: 250px;
	height: 35px;
  border: 1px solid #dedee1;
	border-radius: 4px;
font-weight: bold;
color: #777;
  background:#dedee1;
  cursor: pointer;
}
